body {
  margin: 0;
  padding: 0;
}

ul {
  padding: 20px;
  margin: 20px;
}

li {
  padding: 10px;
}

#vacationForm {
  width: 500px;
  margin: 0 auto;
  padding: 100px;
  border: 1px;
  border-style: solid;
  border-radius: 6px;

}

/* #vacationForm {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  background: red;
} */