body {
  margin: 0;
  padding: 0;
  background-color: rgba(255, 0, 0, 0.692);
}

ul {
  padding: 20px;
  margin: 20px;
}

.panel {
  display: none;
  float: right;
}

.itemPanel {
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  background-color: #ccc;
  display: none;
  float: left;
  padding: 10px;
  margin: 150px;
}

li {
  padding: 10px;
}

#btnShow {
  display: none;
}

/* .locations{
  display: none;
} */

#vacationForm {
  width: 500px;
  height: 500px;
  padding: 50px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border: 1px;
  border-style: solid;
  border-radius: 6px;
  background-color:#ccc;

}

/* #vacationForm {
  position: absolute;
  width: 500px;
  height: 300px;
  z-index: 15;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
  background: red;
} */